*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: black; 
}

a {
    text-decoration: none;
    color: currentColor;
}

img{
    max-width: 100%;
}

.ms_img100{
    width: 100%;
}

/* HEADER */

header{
    display: contents;
}

header .navbar{
    position: sticky;
    top: 0;
}

.ms_margincustom{
    margin-top: 145px;
}

.ms_chevron{
    height: 15px;
    width: 15px;
}

.ms_chevron_hover{
    display: none;
}

header li:hover .ms_chevron{
    display: none;
}

header li:hover .ms_chevron_hover{
    display: inline;
    height: 15px;
    width: 15px;
}

.ms_search{
    display: block;
    height: 30px;
    width: 30px;
    margin-left: 10px;
}

.ms_bg_black{
    background-color: black;
}

.ms_bg_white{
    background-color: white;
}

.ms_bg_blue{
    background-color: rgb(18,20,45);
}

.navbar-light .navbar-nav .nav-link{
    color: black;
    margin-right: 10px;
    font-size: 15px;
}

/* MAIN */

.banner{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#section1{
    height: 700px;
    background-image: url(img/jumbo-bg.png);
}

.section img{
    max-width: 100%;
}

#section2 .row img{
    width: 100%;
    border-radius: 1.5rem;
    overflow: hidden;
}

#section2 .row div:hover{
    transform: translatey(-15px);
    transition: 1s ease-in-out;
}

#section2 .row div:active img{
    border: 2px solid rgb(45,100,230);
}

.ms_game_active{
    border: 2px solid rgb(45,100,230);
}

.card{
    border: none;
}

.card img{
    margin: auto;
}

#section3 .card img{
    width: 120px;
    height: 120px;
}

.ms_card_active{
    border-bottom: 2px solid rgb(45,100,230);
    padding-bottom: 40px;
}

.ms_op70{
    filter: opacity(70%);
}

.card:hover{
    filter: opacity(100%);
}

#section4{
    height: 700px;
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
}

.ms_bg_gray{
    background-color: rgb(24,24,24);
}

#section5 img{
    width:100%;
    border-radius: 2rem
}

#section6 img{
    width:100%;
}

.ms_bg_lightgray{
    background-color: rgb(190,188,187);
}

.ms_plus_logo{
    width: 320px;
}

.ps_plus_games{
    display: block;
}

#section10 img{
    width: 100%;
}

/* FOOTER */

footer{
    background-color: rgb(2,47,138);
}

.footer_logo{
    width:20%;
}

.ms_lingua{
    width:20px;
    height:20px;
}

footer ul{
    list-style-type: none;
}

.ms_sielogo{
    width: 50%;
}

/* BOTTONI */

.ms_button_darkgray{
    background-color: rgb(41,41,41);
    border-color: rgb(41,41,41) ;
}

.ms_button_red{
    background-color: rgb(189,40,16);
    border-color: rgb(189,40,16);
    color: white;
}

/* MEDIA QUERY */

@media screen and (max-width: 576px) {
    .ps_plus_games_wrapper{
        display: none;
    }
}