*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: black; 
}

a {
    text-decoration: none;
    color: currentColor;
}

.ms_img100{
    width: 100%;
}

/* HEADER */

.ms_margincustom{
    margin-top: 145px;
}

.ms_bg_black{
    background-color: black;
}

.ms_bg_white{
    background-color: white;
}

.ms_bg_blue{
    background-color: rgb(18,20,45);
}

.navbar-light .navbar-nav .nav-link{
    color: black;
    margin-right: 10px;
    font-size: 15px;
}

/* MAIN */

.banner{
    background-repeat: no-repeat;
    background-size: cover;
}

#section1{
    height: 700px;
    background-image: url(img/jumbo-bg.png);
}

.section img{
    max-width: 100%;
}

#section2 .row img{
    width: 100%;
    border-radius: 1.5rem;
    overflow: hidden;
}

.ms_game_active{
    border: 2px solid rgb(45,100,230);
}

.card{
    border: none;
}

.card img{
    margin: auto;
}

#section3 .card img{
    width: 120px;
    height: 120px;
}

.ms_card_active{
    border-bottom: 2px solid rgb(45,100,230);
    padding-bottom: 40px;
}

.ms_op70{
    filter: opacity(70%);
}

#section4{
    height: 700px;
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
}

.ms_bg_gray{
    background-color: rgb(24,24,24);
}

#section5 img{
    width:100%;
    border-radius: 2rem
}

#section6 img{
    width:100%;
}

.ms_bg_lightgray{
    background-color: rgb(190,188,187);
}

/* !!!!!!!!!!!!!!! */

#section7 .row{
    height: 400px;
}

.ms_plus_logo{
    width: 320px;
}

.ps_plus_games{
    height: 400px;
    width: 540px;
}

/* !!!!!!!!!!!!!!! */

#section10 img{
    width: 100%;
}

/* ICONE */

.ms_chevron{
    font-size: 12px;
    margin-left: 3px;
    color: darkgray;
}

.ms_search{
    font-size: 30px;
    vertical-align: center;
    margin-left: 20px;
}

/* BOTTONI */

.ms_button_darkgray{
    background-color: rgb(41,41,41);
    border-color: rgb(41,41,41) ;
}

.ms_button_red{
    background-color: rgb(189,40,16);
    border-color: rgb(189,40,16);
    color: white;
}

/* MEDIA QUERY */

@media screen and (max-width: 576px) {
    .ps_plus_games_wrapper{
        display: none;
    }
}